<%= link_to "Themommychannel", root_path, :class => 'brand' %>
<nav>
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Login", new_user_session_path %>
  <% end %>
  <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
      <%= link_to 'Admin', users_path %>
    <% end %>
  <% end %>
</nav>
